@use '../src/scss/abstracts/reset'as *;
@use '../src/scss/abstracts/base'as *;

@use '../src/scss/abstracts/index'as *;

#root{
    display: flex;
    min-height: 100%;
    flex-direction: column;
    margin: 0 auto;
    width: 93.05vw;
}

.Hidden{
    visibility: hidden;
}

.Visible{
    visibility: visible;
}

/* class spécial transition de page 
appear: 'my-appear',
appearActive: 'my-active-appear',
appearDone: 'my-done-appear',
enter: 'my-enter',
enterActive: 'my-active-enter',
enterDone: 'my-done-enter',
exit: 'my-exit',
exitActive: 'my-active-exit',
exitDone: 'my-done-exit',
*/

.fade-enter {
    opacity: 0;
    z-index: 1;
}

.fade-enter.fade-enter-active {
    opacity: 1;
    transition: opacity 250ms ease-in;
}

.page-enter {
    opacity: 0;
    transform: scale(1.1);
}

.page-enter-active {
    opacity: 1;
    transform: scale(1);
    transition: opacity 300ms, transform 300ms;
}

.page-exit {
    opacity: 0;
    transform: scale(1);
}

.page-exit-active {
    opacity: 0;
    transform: scale(0.9);
    transition: opacity 300ms, transform 300ms;
}

// .MoveTo{
//     animation: $LetterMove 3s $ease-material;
// }

@keyframes ToScaleTransition{
    100%{
        border-radius: 50%;
        display: none;
        transform: scale(0);
    }
}